.basket {
    width: 70%;
    margin: 0 auto;
}

.basket-plants {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    align-content: stretch;
}

.checkout {
    width: 100%;
    margin: 40px auto;

    text-align: center;
}

.checkout-button {
    border: 1px solid #439946;
    background-color: white;

    font-size: 25px;
    font-weight: 400;
    color: #439946;

    padding: 5px 10px;

    transition: 0.3s;
}

.checkout-button:hover {
    color: white;
    background-color: #439946;
}
