main {
  position: relative;
  width: 950px;
  margin: 0 auto;

  border: dotted lightgray 1px;
}

.title {
  position: absolute;
  display: inline;
  top: 270px;
  left: 390px;
  background-color: white;
  background-size: 20px;
  padding: 10px;
}

.banner {
  width: 100%;
  margin: 0 auto;
  display: block;
}

.plants-display {
  width: 100%;
  /* padding: 30px; */

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;

  border: dotted lightgray 1px;
}
