.rainforest {
    background-color: whitesmoke;
}

.rainforest main {
    width: 50%;
    margin: 0 auto;

    background-color: white;
}

.rainforest .plants-display {
    width: 100%;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
}
