.plant {
  width: 350px;
  height: 500px;
  border: solid lightgray 1px;
  margin: 30px;
}

.plant, a:link, a:visited {
  text-decoration: none;
  color: rgb(57, 57, 57);
}

.plant, a:hover {
  color: #439946;
}

.plant .image-container {
  height: 330px;
  overflow: hidden;
}

.plant img {
  width: 100%;
  display: block;
  margin: 0 auto;
}

.plant-info {
  padding: 15px 15px 15px 25px;
  border-top: solid lightgray 1px;
}

.plant-info h2,
h4,
h5 {
  margin: 5px 0;
}

.plant .add-to-basket, .add-to-wishlist {
  position: relative;
  bottom: -8px;
  width: 100%;
  height: 52px;
  border: none;
  background: #439946;
  font-size: 20px;
  cursor: pointer;
  color: white;
  transition: 0.3s;
}

.plant .add-to-basket:hover {
  background: #43ac46;
}

.plant .add-to-wishlist:hover {
  background: #43ac46;
}